.git
.circleci
example
node_modules
scripts
src
.editorconfig
.gitattributes
.gitignore
.npmignore
CONTRIBUTING.md
tsconfig.build.json
tsconfig.json
yarn.lock
__tests__
__fixtures__
__mocks__
ios/build
android/build
lib/typescript/example
