//npm.pkg.github.com/:_authToken=ccef4dd0ce0d1993d2c8dcd4c28a183d595151e6
@maivu1611:registry=https://npm.pkg.github.com
@react3l:registry=https://npm.pkg.github.com
@thanhtunguet:registry=https://npm.pkg.github.com
